apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: linkerd-trust-anchor
  namespace: cert-manager
spec:
  secretName: linkerd-trust-anchor
  commonName: root.linkerd.cluster.local
  duration: 43800h # 5 years
  privateKey:
    algorithm: ECDSA
    size: 256
  issuerRef:
    group: awspca.cert-manager.io
    kind: AWSPCAClusterIssuer
    name: linkerd-trust-anchor
