agent {
    data_dir = "C:\\spire\\data\\agent"
    log_level = "INFO"
    trust_domain = "cluster.local"
    log_file = "C:\\spire\\logs\\agent.log"
    server_address = "127.0.0.1"
    server_port = 8081

    # Insecure bootstrap is NOT appropriate for production use but is ok for
    # simple testing/evaluation purposes.
    insecure_bootstrap = true
}

plugins {
   KeyManager "disk" {
        plugin_data {
            directory = "C:\\spire\\data\\agent"
        }
    }

    NodeAttestor "join_token" {
        plugin_data {}
    }

    WorkloadAttestor "windows" {
        plugin_data {}
    }
}